/* Page: Add Event */
.custom-label {
   @apply block text-sm font-semibold  text-white bg-white/20 backdrop:blur rounded-t-lg p-2 pl-3  pb-3 -mb-2 w-5/12 text-center ml-2 border-2 border-white text-nowrap;
}
.custom-input {
   @apply w-full border-2 p-2 text-white focus:outline-none placeholder:font-normal font-normal  placeholder:text-gray-300 bg-gray-900 outline-8 h-10 border-white rounded-lg   autofill:text-red-500;
   /* focus:outline-orange-500 */
}
.custom-input:focus {
   box-shadow: -0.5px -0.5px gray, 1px 1px 5px white;
}

.custom-input::-webkit-calendar-picker-indicator {
   background-color: white;
   border: 2px solid white;
   padding: 4px 10px;
   border-radius: 5px;
}

/* ini warna untuk autocomplete pada input */
.custom-input:-webkit-autofill,
.custom-input:-webkit-autofill:hover,
.custom-input:-webkit-autofill:focus,
.custom-input:-webkit-autofill,
.custom-input:-webkit-autofill:hover,
.custom-input:-webkit-autofill:focus,
.custom-input:-webkit-autofill,
.custom-input:-webkit-autofill:hover,
.custom-input:-webkit-autofill:focus {
   border: 2px solid white;
   -webkit-text-fill-color: orange;
   -webkit-box-shadow: 0 0 0px 1000px transparent inset;
   transition: background-color 5000s ease-in-out 0s;
}
/* End Page: Add Event */
