/* Global Class */
.primary-font {
   font-family: "Rubik", sans-serif;
   font-weight: normal;
}

.primary-button {
   @apply border-2 border-white active:bg-white/20 active:backdrop:blur  rounded-md py-2 px-5 shadow-lg cursor-pointer  font-semibold transition-all bg-transparent backdrop:blur text-white;
}

.primary-button:hover {
   transform: translateY(-2px);
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), -0.5px -0.5px 4px white, 0.5px 0.5px 4px orange;
}

.primary-button:active {
   transform: translateY(0);
   box-shadow: none;
}

.custom-gradient {
   @apply bg-gradient-to-r from-orange-500 to-orange-400/60;
}
